{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Error 404' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Error 404" %}</h1>
            </div>
            <div class="card-body">
                <div class="form-group text-center">
                       {% trans "Sorry! We couldn't find the page you requested." %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}