{% load i18n %}

{% if announcements %}
	{% for announcement in announcements %}
		<div id="myAlert" style="display:none;" class="alert fade show news text-center fixed-top" role="alert">
			<button type="button" class="close" data-dismiss="alert"  aria-label="Close">
		        <span aria-hidden="true"><i class="fas fa-times fa-fw"></i></span>
		    </button>
	    	{% trans 'Announcements' %} <i class="fa fa-arrow-right" aria-hidden="true"></i>
			<a href="{{ announcement.get_absolute_url }}"> {{ announcement.title }} - {{ announcement.content|truncatechars_html:70|safe }}</a>
		</div>
	{% endfor %}
{% endif %}
<style>
.news {
  border-radius: 0;
}
.news p {
  display: inline-block;
  margin-bottom: 0;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
            if (sessionStorage.Alert !== 'Confirmed') {
                $('#myAlert').show();
            }
        });
        $('#myAlert .close').click(function () {
            sessionStorage.Alert = "Confirmed";
            $(this).closest('#myAlert').hide();
        });
    });
</script>