{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Announcements List' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Announcements List" %}
                <a class="btn btn-sm btn-success float-md-right" href="{% url 'announcements:create' %}?next={{ request.get_full_path }}"
                    title="Create Announcement">{% trans 'Create' %}<i class="fas fa-plus fa-fw">     
                    </i>
                </a>
                </h1>
            </div>
            <div class="card-body">
                {% for announcements in announcement %}
                <div class="card">
                    <div class="card-header" style="letter-spacing:0;">
                        <div class="row">
                            <div class="col-md-6 col-11">
                                <h3><a href="{% url 'announcements:detail' uid=announcements.uid %}">{{ announcements.title }}</a></h3>
                            </div>
                            <div class="col-md-6 col-11 text-md-right">
                            {% if perms.announcements.edit_announcements %}
                            <a class="btn btn-sm btn-warning" href="{% url 'announcements:edit' uid=announcements.uid %}?next={{ request.get_full_path }}" title="Edit">
                                <i class="fas fa-pen fa-fw"></i></a>
                            {% endif %}
                            {% if perms.announcements.delete_announcements %}
                            <a class="btn btn-sm btn-danger" href="{% url 'announcements:delete' uid=announcements.uid %}?next={{ request.get_full_path }}" title="Delete">
                                <i class="fas fa-trash fa-fw"></i></a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">{% trans 'Author' %}: {{ announcements.author.get_full_name }}
                        <span class="float-md-right d-block">{% trans 'Released' %}: {{ announcements.date }}</span>
                        </h6>
                    </div>
                  </div>
                  <br><br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}