{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Delete Event' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Delete Event" %}</h1>
            </div>
            <div class="card-body">
                <form novalidate method="post">
                    {% csrf_token %}
                    <div class="form-group text-center">
                        {% trans "Are you sure you want to delete this event?" %}
                        <br>
                        {% trans "This action is irreversible." %}
                    </div>
                    <div class="form-actions text-center">
                        {% if object.subsequent %}
                        <button type="button" class="btn btn-danger card-btn" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        {% else %}
                        <button type="submit" class="btn btn-danger card-btn">{% trans "Delete" %}</button>
                        {% endif %}
                        <a href="{{ view.success_url }}" class="btn btn-secondary card-btn">Cancel</a>
                    </div>
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Delete recurring event</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="thisRadio" name="modalRadio" class="custom-control-input" value="1" checked>
                                        <label class="custom-control-label" for="thisRadio">This event</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="followingRadio" name="modalRadio" class="custom-control-input" value="2">
                                        <label class="custom-control-label" for="followingRadio">This and following events</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}