{% load static %}
{% load i18n %}
<div id="dashboard">
    <div class="dashboard-header core-font">
        <h1>{% trans "Welcome to the Dashboard" %}, <span class="font-weight-bold text-dark">{{ user.first_name }}</span>!</h1>
        <a class="core-button" id="close-dashboard" href="#close-dashboard">
            <img src="{% static 'img/icons/close.png' %}" alt="Close dashboard icon">
        </a>
    </div>
    <div class="dashboard-body core-font">
        <ul>
            <li>
                <a class="btn btn-dark" href="{% url 'accounts:list' %}">
                    <img src="{% static 'img/dashboard/accounts.svg' %}" alt="Accounts icon">
                    {% trans "Accounts" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'boxes:list' %}">
                    <img src="{% static 'img/dashboard/boxes.svg' %}" alt="Boxes icon">
                    {% trans "Boxes" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'events:list' %}">
                    <img src="{% static 'img/dashboard/events.svg' %}" alt="Events icon">
                    {% trans "Events" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'memberships:list' %}">
                    <img src="{% static 'img/dashboard/memberships.svg' %}" alt="Memberships icon">
                    {% trans "Memberships" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'wikis:view' url='home' %}" alt="Wikis icon">
                    <img src="{% static 'img/dashboard/wikis.svg' %}">
                    {% trans "Wikis" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'polls:list' %}">
                    <img src="{% static 'img/dashboard/polls.svg' %}" alt="Polls icon">
                    {% trans "Polls" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'newsletters:list' %}">
                    <img src="{% static 'img/dashboard/newsletter.svg' %}" alt="Newsletters icon">
                    {% trans "Newsletters" %}
                </a>
            </li>
            <li>
                <a class="btn btn-dark" href="{% url 'announcements:list' %}">
                    <img src="{% static 'img/dashboard/announcements.svg' %}">
                    {% trans "Announcements" %}
                </a>
            </li>
            <li>
                <a class="btn btn-outline-info" href="https://gitlab.com/libreorganize/libreorganize/-/issues/new" data-toggle="modal" data-target="#warningRedirect">
                    <img src="{% static 'img/dashboard/report.svg' %}" alt="Report bug icon">
                    {% trans "Request feature" %}
                    <br>
                    {% trans "Report bug" %}
                </a>
            </li>
        </ul>
    </div>
    <div class="text-center core-font">
        <small class="m-0 text-muted">
            LibreOrganize 0.6.0 - <a href="https://libreorganize.org/wikis/home/">Documentation</a>
        </small>
    </div>
</div>