{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
  <style>
    .my-custom-scrollbar {
        position: relative;
        height: 80vh;
        overflow: auto;
    }
  </style>
    <script src="/static/js/jquery.upload.js"></script>
    <script src="/static/js/jquery.iframe.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
{% endblock %}

{% block content %}
<script>
    $(function () {
      /* 1. OPEN THE FILE EXPLORER WINDOW */
      $(".js-upload-photos").click(function () {
        $("#fileupload").click();
      });
    
      /* 2. INITIALIZE THE FILE UPLOAD COMPONENT */
      $("#fileupload").fileupload({
        dataType: 'json',
        done: function (e, data) {  /* 3. PROCESS THE RESPONSE FROM THE SERVER */
          if (data.result.is_valid) {
            $("#gallery tbody").prepend(
              "<tr><td><a href='" + data.result.url + "'>" + data.result.name + "</a></td></tr>"
            )
            window.location.reload();
          }
        }
      });
    });
    </script>
<div class="row no-gutters card-row">
    <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">{% trans "Uploads" %}</h1>
                <button type="button" class="btn btn-primary js-upload-photos">
                    <span class="glyphicon glyphicon-cloud-upload"></span> Upload Files
                </button>
            </div>
            <div class="card-body my-custom-scrollbar">                
                    <input id="fileupload" type="file" name="file" multiple
                           style="display: none;"
                           data-url="{% url 'boxes:upload' %}"
                           data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                    <table id="gallery" class="table table-striped nowrap" style="width: 100%;">
                    <tbody>
                        {% for upload in uploads %}
                          <tr>
                            <td><a href="{{ upload.file.url }}">{{ upload.file.name }}</a></td>
                            <td><a class="btn btn-sm btn-danger" href="{% url 'boxes:delete' pk=upload.pk %}?next={{ request.get_full_path }}">
                              <i class="fas fa-trash fa-fw"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
