{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Results' %}{% endblock %}

{% block content %}
<div class="row no-gutters card-row">
    <div class="col-11 mx-auto my-auto">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Results - {{ poll.topic }}</h1>  
            </div>
            <div class="card-body">
                {% if poll.get_poll_status != "pending" %}
                    {% if poll.get_poll_status == "closed" %}
                    <span class="badge badge-danger"><i class="fas fa-times"></i> Closed</span><hr>
                    {% else %}
                    <span class="badge badge-success"><i class="fas fa-check"></i> Open</span><hr>
                    {% endif %}
                {% endif %}
                <h5><strong>Description - </strong>{{ poll.description }}</h5>
                <h5><strong>Winner - </strong>{{ poll.winner.name }}</h5>
                {% if poll.poll_type != "ranked" %}
                <br>
                <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><h5>Choice</h5></th>
                        <th scope="col"><h5>Total Votes</h5></th>
                    </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <th scope="row">{{ result.0 }}</th>
                        <td>{{ result.1 }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}